<html lang="en">
    {{!-- header --}}
{{> head}}
<body>
    {{!-- Navbar --}}

    {{> navbar}}

    {{!-- BODY --}}
    <div class="container">
    {{{body}}}
    </div>
    {{!-- FOOTER --}}
    {{> footer}}
</body>
</html>