<form action="/login" method="post">
    <div class="w-75 mx-auto">
    <div class="fs-1 m-3">Login</div>
    <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </div>
    </div>
</form>